.jumbotron {
 background-color: rosybrown;
 color: antiquewhite;
 margin-top: 50px ;
}

.btn {
    color: salmon;
    background-color:antiquewhite;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: burlywood;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel {
flex: 1 200px;
/*padding: 2px 0px 2px 0px; top,righ,botton,left
height: 100%;*/
margin-top: 10px;
}

.btn-reserva {
    width: 100%; 
    border-radius: 0px; 
}

.btn-activity {
    width: 33%;
}

.footer-address-icon {
    padding: 5px;
}
.card-img-top {
width: 100px;
height: 100px;
display: block;
margin: auto; 
}

.card-img-banner {
width: 40%;
height: 10%;   
display: block;
margin: auto;  
}

.card-img-banner1 {
    width: 20%;
    height: 10%;   
    display: block;
    margin: auto;  
    }

.justificado {
    text-align: justify;
}    

.tab-content{
    padding-top: 10px;
}
