
.jumbotron {
  background-color: #ff6666;
  color: antiquewhite;
  margin-top: 50px;
  margin-bottom: 0px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #ff6666;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 200px;
  /*padding: 2px 0px 2px 0px; top,righ,botton,left
     height: 100%;*/
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding: 5px;
}
.tab-content {
  padding-top: 10px;
}
