
$pink:#e05e67;
$marron:#faff78;
$purple:#ffb278;
$black:#5e2b75;
@mixin margenes ($top, $bottom){ /*mixin reemplaza los valores y parametros*/
    margin-top: $top;
    margin-bottom: $bottom; 
}

.jumbotron {
    background-color: $pink;
    color: $black;
    @include margenes(50px, 10px);
   }

.btn {
    color:$purple;
    background-color:$black;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: $marron;
    @include margenes(10px, 0px);
   }
   
.card-hotel {
   flex: 1 200px;/*padding: 2px 0px 2px 0px; top, righ, left, height: 100%*/
   @include margenes(10px, 0px);
   }
   
.btn-reserva {
    width: 100%; 
    border-radius: 0px; 
   }

.btn-activity {
    width: 33%;
}
   
.footer-address-icon {
    padding: 5px;
   }

.card-img-top {
    width: 100px;
    height: 100px;
    display: block;
    margin: auto; 
    }
    
.card-img-banner {
    width: 40%;
    height: 10%;   
    display: block;
    margin: auto;  
    }
    
.card-img-banner1 {
    width: 20%;
    height: 10%;   
    display: block;
    margin: auto;  
    }
    
.justificado {
    text-align: justify;
    }    
   
.tab-content{
    padding-top: 10px;
   }
   
