
@pink:#ff6666;

 .margenes (@top: 0px, @bottom: 0px){ /*mixin reemplaza los valores y parametros*/
    margin-top: @top;
    margin-bottom: @bottom; 
}
.jumbotron {
    background-color:@pink;
    color: antiquewhite;
    .margenes(50px, 0px); }
  
  footer {
    padding: 10px 10px 0 10px;
    background-color: @pink;
    .margenes(50px, 0px);}

  .card-hotel {
    flex: 1 200px;/*padding: 2px 0px 2px 0px; top,righ,botton,left,height: 100%;*/
     .margenes(50px, 0px);}
  
  .btn-reserva {
    width: 100%;
    border-radius: 0px; }
  
  .footer-address-icon {
    padding: 5px; }
  
  .tab-content {
    padding-top: 10px; }
  