.jumbotron {
  background-color: #e05e67;
  color: #5e2b75;
  /*mixin reemplaza los valores y parametros*/
  margin-top: 50px;
  margin-bottom: 10px;
}

.btn {
  color: #ffb278;
  background-color: #5e2b75;
}

footer {
  padding: 10px 10px 0 10px;
  background-color: #faff78;
  /*mixin reemplaza los valores y parametros*/
  margin-top: 10px;
  margin-bottom: 0px;
}

.card-hotel {
  flex: 1 200px;
  /*padding: 2px 0px 2px 0px; top, righ, left, height: 100%*/
  /*mixin reemplaza los valores y parametros*/
  margin-top: 10px;
  margin-bottom: 0px;
}

.btn-reserva {
  width: 100%;
  border-radius: 0px;
}

.btn-activity {
  width: 33%;
}

.footer-address-icon {
  padding: 5px;
}

.card-img-top {
  width: 100px;
  height: 100px;
  display: block;
  margin: auto;
}

.card-img-banner {
  width: 40%;
  height: 10%;
  display: block;
  margin: auto;
}

.card-img-banner1 {
  width: 20%;
  height: 10%;
  display: block;
  margin: auto;
}

.justificado {
  text-align: justify;
}

.tab-content {
  padding-top: 10px;
}

/*# sourceMappingURL=styles.css.map */
